@if (cart !== null) {
<div class="flex flex-col justify-center items-center w-full my-2 text-left">
  <div
    class="flex {{
      flex ? 'md:flex-row flex-col-reverse' : 'md:flex-col flex-col-reverse'
    }} w-[99%] gap-2 justify-center items-start my-2"
  >
    <div
      class="flex flex-col justify-center w-full items-center h-fit gap-2 flex-[0.8] dark:bg-neutral-900 bg-neutral-300 rounded-lg"
    >
      <div
        class="rounded-md flex flex-row w-full h-fit p-2 justify-between items-center"
      >
        <app-heading
          title="Cart"
          subtitle="({{ cart.totalQty }} products)"
          class="w-[96%] text-left mb-2"
        ></app-heading>

        <button
          (click)="clear()"
          mat-mini-fab
          class="dark:bg-neutral-950 bg-neutral-300 dark:text-white text-black"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>

      <div class="flex flex-col w-[98%] h-fit gap-2 justify-start items-start">
        <app-cartproductcard
          *ngFor="let item of cart.items"
          [flex]="flex"
          [item]="item"
          class="w-full"
        ></app-cartproductcard>
      </div>
    </div>
    <div
      class="flex flex-[0.2] flex-col justify-center items-center w-full dark:bg-neutral-900 bg-neutral-300 rounded-md p-2"
    >
      <div
        class="h-[1px] w-[98%] dark:bg-neutral-600 bg-neutral-300 rounded-full my-2"
      ></div>
      <div
        class="flex flex-row justify-between items-center gap-2 w-full mb-2 py-2"
      >
        <span class="text-sm dark:text-neutral-500 text-slate-300"
          >Subtotal:</span
        >
        <span class="text-sm dark:text-slate-700 text-slate-300">{{
          cart.totalPrice | currency
        }}</span>
      </div>
      <div
        class="flex flex-row justify-between items-center gap-2 w-full mb-py-2"
      >
        <span class="text-sm dark:text-neutral-500 text-slate-300"
          >discount:</span
        >
        <span class="text-sm dark:text-slate-700 text-slate-300">-0.00</span>
      </div>

      <div
        class="flex flex-row justify-between items-center gap-2 w-full mb-2 py-2"
      >
        <span class="text-sm dark:text-white text-black">Total</span>
        <span class="text-sm dark:text-white textblack">{{
          cart.totalPrice | currency
        }}</span>
      </div>
      <div
        class="h-[1px] w-[98%] dark:bg-neutral-600 bg-neutral-300 rounded-full my-2"
      ></div>
      <button
        *ngIf="flex === true"
        routerLink="/checkout"
        mat-button
        class="dark:bg-neutral-700 dark:text-white bg-neutral-800 text-black w-full"
      >
        <span class="dark:text-white text-black">Proceed</span>
      </button>
    </div>
  </div>
</div>
} @else {
<div
  class="flex flex-col h-full w-full text-center justify-center items-center text-lg md:text-xl my-2 mt-2 dark:text-white text-black"
>
  No Items In Cart
</div>
}
